{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/app_icon.png'%}">
    <meta name="theme-color" content="#2cb172"/>
    <title>{% block title %}{% endblock %} - PK_PasswordGenerator</title>
    <!-- <link rel="stylesheet" href="{% static 'PK_CSS.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/PK_CSS.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="col-md-9 col-xl-6 mx-auto">
  
        <a href="{% url 'home' %}">{% include 'PK_Generator/app_logo.svg' %}</a>
        <div class="card">
          <div class="card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        
      </div>
    </div>
    
    <footer class='text-center'>{% include 'PK_Generator/pk_logo.svg' %}<a class='footer-link' href='https://pawelkolman.github.io'>pawelkolman.github.io</a></footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/PK_JS.js' %}"></script>
  </body>
</html>